:root {
    --color-light: #fff;
    --color-dark: #27182e;
    --color-shadow: #24004a;
}

html {
    font-family: "Cantarell", sans-serif;
    font-size: larger;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



#outer_border {
    position: relative;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 2px solid var(--color-dark);
    border-radius: 15px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_card {
    flex-grow: 0.2;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: 2px solid var(--color-dark);
    border-radius: 15px;
    box-shadow: 0 0 5px var(--color-shadow);
}

#logo {
    font-weight: 100;
}

.login_card input {
    background-color: var(--color-light);
    height: 3em;
    border: 2px solid var(--color-dark);
    border-radius: 15px;
    margin-top: 1em;
    text-align: center;
}

.login_card input::placeholder {
    font-style: italic;
    font-size: 0.95em;
    text-align: center;
}

#submit_button {
    padding: 0 2em 0 2em;
}


#submit_button:hover {
    scale: 1.05;
}
