@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

        :root {
            --color-text: #555;
            --color-darkest: #A59D84;
            --color-dark: #C1BAA1;
            --color-default: #D7D3BF;
            --color-light: #ECEBDE;
        }

        html {
            font-family: "Roboto", sans-serif;
            color: var(--color-text);
            background: var(--color-darkest);
        }

	body {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

        div {
            margin: 1rem;
        }

        form {
            display: flex;
            justify-content: center;
        }

        input {
            margin: 0.5rem;
            border-radius: 10px;
            height: 2rem;
            border: none;
            color: var(--color-text);
            margin-left: 0.5rem;
            background: var(--color-default);
            text-align: center;
        }

        #submit_button {
            border-radius: 10px;
            color: var(--color-text);
            border: none;
            background: var(--color-default);
            align-items: center;
            cursor: pointer;
        }

        #submit_button:hover {
            scale: 1.05;
            background: var(--color-light);
        }

        #logo {
            font-size: 2em;
            margin: 1em;
        }

	label {
		text-align: center;
	}

        div {
            padding: 1em;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background: var(--color-light);
            width:fit-content;
            border-radius: 1rem;
        }
